<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/bcbf851183.js" crossorigin="anonymous"></script>
    <title>ToDoList</title>
</head>
<body>
    <div class="container">
        <div id="app">
            <!-- Folded corner -->
            <div class="triangle"></div>
            <div class="triangleFolded"></div>
            <!-- List title -->
            <h1 class="title">ToDo</h1>
            <!-- List commands -->
            <div class="commands">
                <input type="text" v-model="newtodo" @keyup.enter="addTodo" placeholder="Write here">
                <button @click="addTodo"><i class="fa-solid fa-pen"></i></button>
            </div>
            <!-- TodoList -->
            <ul>
                <li v-for="(todo, index) in todolist" @click="done($event)">
                    {{todo}}
                    <button @click="deleteTodo(index)" class="delete">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>